h1 {
	font-family:"Comic Sans MS", cursive, sans-ser;
	color:#00FF66;
	font-size:60px;
	background-color:yellow;
	border-style:outset;
	border-width: 19px;
}
h2 {
	font-family:"Times New Roman", Georgia, Serif;
	color:#0099FF;
	font-size: 55px;
	background-color:green;
	border-style:dotted dashed solid double;
	border-width:17px;
}
body {
	border-style:outset;
	background-color:#66FFCC;
	border-width:30px;
	border-color:#660066;
	background-image:url ("8-12%20aloha.jpg");
}
footer {
	font-family:"Courier New", Courier, monospace;
	color:#FFFFCC;
	font-size:40px;
	background-color:red;
	border-style: dashed;
}
main {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#FFFF66;
	font-size:35px;
	background-color:brown;
	border-style:dashed;
}
h3 {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#3366FF;
	font-style:italic;
	background-color:#33FF66;
	border-style:solid;
	font-size:39px;
}
p {
	background-color:#99FF00;
	border-style:dashed;
}
h4 {
	background-color:#FF6699;
	color:#99FF99;
}


