h1 {
	background-color:#660066;
	color:#FFFF00;
	font-style:italic;
	font-family:Impact, Charcoal, sans-serif;
	font-size:55px;
}
h2 {
	background-color:#FF0000;
	color:#3300FF;
	font-style:italic;
	font-family:Impact, Charcoal, sans-serif;
	font-size:20px;
	background-size:25% 25%;	
}
h3 {
	background-color:#FFFF00;
	color:#660099;
	border-top:dashed;
	boder-size:15px;
	font-size:20px;
}
h4 {
	background-color:#006600;
	color:#FFFF00;
	border-bottom:dashed;
	border-color:#FFFF00;
	font-size:20px;
}
p {
	font-color:#0000CC;
	font-size:15px;
	font-color:#0000CC;
}
