@import url(https://fonts.googleapis.com/css?family=Pacifico);
h1 {
	border: groove;
	border-color: #FFE400;
	background: yellow;
	border-width: 40px;
	font-family:'Pacifico', cursive;
}
nav {
	border: groove;
	border-color: blue;
	background-color: yellow;
	width: 300px;
	border-width: 30px;
        float:left; 
}
main {
	margin-left: 361px;
}
article {
	width: 1200px;
	height: 600px;
	border: inset;
	background: #99FFFF;
	border-width: 11px;
}
h4 {
	border: groove;
	background-color: #66FF99;
	border-width: 20px;
	border-color: #6666FF;
}
p {
	border: solid #99FF33 10px;
}
body {
	background-image:url("http://25.media.tumblr.com/tumblr_m81bemWVEN1ra7exvo1_1280.jpg");
}
img {
	float: right;
}

