* {
	outline: dashed red 1px;
}
h1 {
	border: groove;
	border-color: green;
	background: yellow;
	border-width: 40px;
}
nav {
	border: groove;
	border-color: blue;
	background-color: yellow;
	width: 300px;
	border-width: 30px;
        float:left; 
}
article {
	clear: right;
	float: right;
	width: 1200px;
}
h4 {
	border: groove;
	background-color: #66FF99;
	border-width: 20px;
	border-color: #6666FF;
}
p {
	border: solid #99FF33 10px;
}
ul {
	border: inset;
	background: #99FFFF;
	border-width: 11px;
}
body {
	background-image:url("http://40.media.tumblr.com/8bb5830036b7ac32565acd53c1f140d0/tumblr_n2lq5lwa8H1sikueao1_1280.jpg");
}
img {
	float: right;
	clear: right;	
}

	
